.noticia {
    border-radius: 10px;
    background-color: #C8C8C8;
    padding: 30px 30px;
    text-align: center;
}

.containerSecundario{
    margin: 40px 60px;
    display: flex;
    justify-content: space-between;
}

p{
    width: 300px;
}

a{
    border: black solid 1px;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

:link:hover{
    background-color: black;
}